html, body, nav, div, span, table, ul, li, dl, dt, dd {
    border: 0 none;
    font: inherit;
    margin:0;
    padding:0;
    vertical-align: baseline;
}
html, body {
    color:#000;
    margin:0;
    padding:0;
}
body{
    background-color:#f6f6f6;
    color:#0d0d0d;
    font-family:"proxima-nova", sans-serif;
    font-size:17px;
    font-style:normal;
    font-weight: normal;
    overflow-x:hidden;
    text-rendering: optimizelegibility;
    line-height: 1;
}
header {
    background-color: white;
    position: fixed;
    transition: height 0.5s ease 0s;
    width: 100%;
    z-index: 999;
    display: block;
}
.container{
    margin:0 auto;
    padding:0;
    position:relative;
}
  .container:after{
    clear:both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  } 
header .container{
    height: 80px;
    width: 768px;
    position: relative;
    transition: height 0.5s ease 0s;
    margin: 0 auto;
    padding: 0;
  }
#logo {
    margin-top: 10px;
    height: 60px;
}
header .mainnav {
    top:50px;
    right: 20px;
    display: block;
    position: absolute;
    transition: top 0.5s ease 0s; 
    width: 100%;
}

header .mainnav ul{
    display: inline-block;
    float: right;
}
ul{
    list-style: outsidde none none;
}

header .mainnav ul li{
    display: inline-block;
    float: left;
    margin-left: 30px;
}
li{
    line-height:18px;
    margin-bottom:12px;
}
li a{
    color: #181818;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
a, a span{
     /* Remove underline */
    text-decoration:none;
    cursor: pointer;
    transition: opacity 0.5s ease 0s, color 0.5s ease 0s, background-color 0.5s ease 0s;
}
.mainnav ul li a:hover {
    /*
    RGBA background for transparancy:
    last number(0.05) is the transparency
    */
    background: RGBA(0,0,0, 0.5);
    color:#fff;
    font-weight: bold;
}
/*a class that takes up enough space to account for the navigation bar, so that the content for each page is pushed to the appropriate place. */
.page-padding {height:90px; width:100%;}

#page1{
    padding-top: 200px;
    text-align: center;
}
#page1 h2 {
    color: #292627;
    font-family: "proxima-nova",sans-serif;
    font-size: 46px;
    font-weight: 100;
    margin-bottom: 5px;
}
#page1 h1{
    margin-bottom:0;
    font-size: 60px;
    color: #292627;
}
#page1 h3 {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
}
#page1 #button{
    opacity:1;
    transition: opacity 0.2s ease 0.6s;
    /*background: none repeat scroll 0 0 #cca851;*/
    background: url("images/PaperAirplane.png") no-repeat scroll left top transparent;
    color: #cca851;
    display: block;
    font-family: "proxima-nova", sans-serif;
    font-size:22px;
    font-weight:600;
    height:60px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width:180px;
}
#page2, #page3, #page4, #page5 {
    display: block;
    min-height: 1000px;
}
#page2 .container{
    width: 728px;
}
#page3, #page4, #page5 .container{
    width: 768px;
}

#page2 .slideshow{
    display: block;
    height: 380px;
    width:728px;
    margin: 0 auto;
    padding:0;
    clear: both;
    position: relative;
}
 .slides{
    position: absolute;
    left:0;
    top:0;
    height: 380px;
    width:728px;
}
.slide-image{
    height: 380px;
    width: 728px;
}
/*
.slides_container{
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
}
.slides_control{
    position: relative;
    height: 352px;
    left: -728px;
    width: 1000%;
}*/

