html, body, nav, div, span, table, ul, li, dl, dt, dd, projects, article, img, .item, .info-wrap,.category, h1,h2,h3,h4 {
    border: 0 none;
    font: inherit;
    margin:0;
    padding:0;
    vertical-align: baseline;
}
html, body {
    color:#000;
    margin:0;
    padding:0;
}
body{
    background-color:#f6f6f6;
    color:#0d0d0d;
    font-family:"proxima-nova", sans-serif;
    font-size:17px;
    font-style:normal;
    font-weight: normal;
    overflow-x:hidden;
    text-rendering: optimizelegibility;
    line-height: 1;
}
header {
    background-color: white;
    position: fixed;
    transition: height 0.5s ease 0s;
    width: 100%;
    z-index: 999;
    display: block;
}
.container{
    margin:0 auto;
    padding:0;
    position:relative;
    width:768px;
}

header .container{
    height: 80px;
    width: 768px;
    position: relative;
    transition: height 0.5s ease 0s;
    margin: 0 auto;
    padding: 0;
  }
#logo {
    margin-top: 10px;
    height: 60px;
}
header .title {
    top:50px;
    left: 80px;
    right: 20px;
    display: block;
    position: absolute;
    color: #181818;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
header .mainnav {
    top:50px;
    right: 20px;
    display: block;
    position: absolute;
    transition: top 0.5s ease 0s; 
    width: 100%;
}

header .mainnav ul{
    display: inline-block;
    float: right;
}
ul{
    list-style: outsidde none none;
}

header .mainnav ul li{
    display: inline-block;
    float: left;
    margin-left: 30px;
}
li{
    line-height:18px;
    margin-bottom:12px;
}
li a{
    color: #181818;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
a, a span{
     /* Remove underline */
    text-decoration:none;
    cursor: pointer;
    transition: opacity 0.5s ease 0s, color 0.5s ease 0s, background-color 0.5s ease 0s;
    color: #cca851;
    font-weight:500;
}
.mainnav ul li a:hover {
    /*
    RGBA background for transparancy:
    last number(0.05) is the transparency
    */
    background: RGBA(0,0,0, 0.5);
    color:#fff;
    font-weight: bold;
}
/*a class that takes up enough space to account for the navigation bar, so that the content for each page is pushed to the appropriate place. */
.page-padding {height:90px; width:100%;}

p{
    font-size:15px;
    font-style:normal;
    font-weight: 400;
    line-height:1.5;
}
.info{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
    color: #ccc;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.viewport-img {
    width:768px;
}
h1{
    margin-bottom:0;
    font-size: 50px;
    color: #292627;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: #292627;
    font-size: 46px;
    font-weight: 100;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
}
h4{
    color: #cca851;
    font-size: 16px;
    font-weight: bold;
    margin:0;
    text-transform:uppercase;
}

#lab-index li{
    display: block;
    margin-left: 80px;
}
#lab-index li a, a span{
     /* Remove underline */
    text-decoration:none;
    cursor: pointer;
    transition: opacity 0.5s ease 0s, color 0.5s ease 0s, background-color 0.5s ease 0s;
    color: #cca851;
    font-weight:500;
}
/*day01*/
#top {
    position:fixed;
    top: 400px;
    z-index: 2;
    }
#bottom {
    height:2000px;
    position: absolute;
    top: 1000px;
    z-index: 1;
}
/*day02*/
#bunny {
	position: fixed;
	top: 50px;
        bottom: 50px;
}
/*day03*/
#day03_button{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    background: none repeat scroll 0 0 #e60000;
    color: white;
    box-shadow: 1px 0 0 #831127, 0 1px 0 #831127, 2px 1px 0 #831127, 1px 2px 0 #831127, 3px 2px 0 #831127, 2px 3px 0 #831127, 4px 3px 0 #831127, 3px 4px 0 #831127, 4px 4px 2px #000;
    padding: 15px 30px;
    z-index:2;
}
#drawingpad{
    display: block;
    height: 500px;
    border: dotted;
}
#smiley{
    height:300px;
}

svg:hover path{
    fill: blue;
}

